.supera-card {
  background-color: #283142;
  border-radius: 10px;
  padding: 30px 10px;
}

.supera-transferencia-title {
  color: #676FFF;
  font-size: 24px;
  margin-bottom: 20px;
}

.supera-form-control-container {
  margin-bottom: 16px;
  max-width: 300px;
}

.supera-form-control {
  height: 46px;
  background-color: #1B2531;
  border: 1px solid #384459;
  border-radius: 5px;
  width: 100%;
  color: #9AAABE;
  padding: 0px 20px;
  font-size: 18px;
}

.supera-transferencia-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.supera-transferencia-table thead {
  height: 55px;
  font-size: 16px;
  color: #E9E9E9;
  font-weight: 700;
}

.supera-transferencia-table tbody {
  font-size: 14px;
  font-weight: 400;
  color: #CFCFCF;
  text-align: center;
}

.supera-transferencia-table tbody tr {
  height: 74px;
  border-top: 1px solid #5F6E82;
}

.supera-transferencia-table tbody tr:hover>td {
  background-color: #384459;
}

.supera-transferencia-table tbody tr:nth-child(odd) {
  background-color: #242C3B;
}

.supera-red-btn-container {
  display: flex;
  justify-content: center;
}

.show576 {
  display: none;
}

.show992 {
  display: none;
}

@media (min-width: 576px) {
  .show576 {
      display: table-cell;
  }

  .supera-card {
      padding: 35px;
  }

  .supera-transferencia-table tbody tr {
      height: 55px;
  }

  .supera-transferencia-table tbody {
      font-size: 18px;
  }
}

@media (min-width: 992px) {
  .show992 {
      display: table-cell;
  }
}